<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8"/>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img style="url('static/foto/hayden-shapes.jpg')">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Board</h5>
                    <p class="card-text">HYPTO KRYPTO</p>
                    <p class="card-text">HAYDEN SHAPES</p>
                    <p class="card-text">La Hypto Krypto está considerada como la mejor tabla de surf del 2015 según la Australian Surf Industry Awards. Rocker Plano, con una ligera elevación en la entrada Cantos Bajos Cóncavos V en la entrada/simple/Doble V en la cola Nivel de surfing Intermedio – Avanzado</p>
                </div>
            </div>
        </div>
    </div>
</head>