<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<head>
    <meta charset="utf-8"/>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                 <img style="url('static/foto/kelly.jpg')">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Kelly Slater</h5>
                    <p class="card-text">Age 50</p>
                    <p class="card-text">Born in USA</p>
                    <p class="card-text">Board: Rip Curl </p>
                    <p class="card-text">Robert Kelly Slater (born February 11, 1972) is an American professional surfer, best known for being crowned World Surf League champion a record 11 times.[2][3] Slater is widely regarded as the greatest professional surfer of all time.[4] He wins at 50 years old and for the 8th time the Billabong Pipe Masters, 30 years after his first victory and more than 50 victories on the elite circuit WCT which constitutes a record. Slater is also the oldest surfer still active on the World Surf League..</p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</head>